[submodule "tooling"]
	path = tooling
	url = https://github.com/CoolLibs/tooling
[submodule "lib/RtAudioWrapper"]
	path = lib/RtAudioWrapper
	url = https://github.com/CoolLibs/RtAudioWrapper.git
[submodule "lib/dj_fft"]
	path = lib/dj_fft
	url = https://github.com/jdupuy/dj_fft.git
[submodule "lib/libnyquist"]
	path = lib/libnyquist
	url = https://github.com/CoolLibs/libnyquist
